# SQLite version 3.x
#   gem install sqlite3
#
default: &default
  adapter: postgresql
  encoding: utf8
  #host: localhost
  pool: <%= ENV.fetch("RAILS_MAX_THREADS") { 5 } %>
  username: <%= ENV['DATABASE_USERNAME'] %>
  password: <%= ENV['DATABASE_PASSWORD'] %>

development:
  <<: *default
  database: concierge_dev

test:
  <<: *default
  database: concierge_test

production:
  <<: *default
  database: concierge_prod