<header class="masthead" style="background-image: url(<%= image_path "post-bg.jpg"%>)">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="post-heading">
              <h1>Your Blog's Title</h1>
              <h2 class="subheading">Your Tagline</h2>
              <!-- <span class="meta">Posted by
                <a href="#">Start Bootstrap</a>
                on August 24, 2018</span> -->
            </div>
          </div>
        </div>
      </div>
    </header>