@font-face {
    font-family: montserratBlack;
    src: font-url('Montserrat-Black.ttf');
}

@font-face {
    font-family: montserratBold;
    src: font-url('Montserrat-Bold.ttf');
}

@font-face {
    font-family: montserratExtraBold;
    src: font-url('Montserrat-ExtraBold.ttf');
}

@font-face {
    font-family: montserratExtraLight;
    src: font-url('Montserrat-ExtraLight.ttf');
}

@font-face {
    font-family: montserratLight;
    src: font-url('Montserrat-Light.ttf');
}

@font-face {
    font-family: montserratMedium;
    src: font-url('Montserrat-Medium.ttf');
}

@font-face {
    font-family: montserratRegular;
    src: font-url('Montserrat-Regular.ttf');
}

@font-face {
    font-family: montserratSemiBold;
    src: font-url('Montserrat-SemiBold.ttf');
}

@font-face {
    font-family: montserratThin;
    src: font-url('Montserrat-Thin.ttf');
}