 @import "bootstrap";
 @import "style";
 @import "blogs";
 @import "fonts";

 html, body {
 	overflow-x: hidden;
    margin: 0 auto;
    padding: 0;
    min-height: 100%;
    font-family: montserratRegular;
 }