            <!-- =========================== Footer do ============================== -->

            <footer id="footer" class="page-footer bg-dark font-small blue pt-4 text-white">
              <div class="container-fluid text-center text-md-left">
                <div class="row">
                  <div class="col-12 col-md-10 col-lg-10 col-xl-10 d-flex mx-auto row ">
                    <div class="col-12 col-md-4 my-md-5 my-lg-5 mt-5 mb-0 d-flex align-items-center">
                      <a class="navbar-brand" href="#page-top"><%= image_tag 'concierge-logo.png', class: "brand" %></a>
                    </div>
                    <div class="col-12 col-md-4 col-lg-4 col-xl-4 text-left my-5">
                      <ul class="navbar-nav text-uppercase ml-auto pl-0">
                        <li class="nav-item">
                          <a class="nav-link text-white js-scroll-trigger" href="#services">Services</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link text-white js-scroll-trigger" href="#about-me">About</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link text-white js-scroll-trigger" href="#team">Team</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link text-white js-scroll-trigger" href="#portfolio">Portfolio</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link text-white js-scroll-trigger" href="#contact">Contact</a>
                        </li>
                      </ul>
                    </div>
                    <div class="col-12 col-md-4 text-left mb-5 my-md-5 my-lg-5">
                      <h5 class="text-uppercase contact"><strong>Contact</strong></h5>
                      <ul class="list-unstyled pl-0">
                        <li class="mb-2">
                          <address class="mb-0">
                            <strong>Theresa Elaine Valade</strong><br>
                            <%= image_tag 'mail.svg', class:"pr-3 mt-2" %>
                            <a href="mailto:#" class="text-bold text-white align-middle">theresa@conciergeacct.com</a>
                          </address>
                        </li>
                        <li class="mb-2">
                          <a href="https://m.facebook.com/ccapllc/?_ft_=mf_story_key.2195864074035615%3Atop_level_post_id.2195864074035615%3Atl_objid.2195864074035615%3Acontent_owner_id_new.2195854524036570%3Athrowback_story_fbid.2195864074035615%3Acall_to_action_type.MESSAGE_PAGE%3Apage_id.2195854524036570%3Aphoto_id.2222601551361867%3Astory_location.4%3Astory_attachment_style.share%3Apage_insights.%7B%222195854524036570%22%3A%7B%22role%22%3A1%2C%22page_id%22%3A2195854524036570%2C%22post_context%22%3A%7B%22story_fbid%22%3A2195864074035615%2C%22publish_time%22%3A1538862714%2C%22story_name%22%3A%22EntStatusCreationStory%22%2C%22object_fbtype%22%3A266%7D%2C%22actor_id%22%3A2195854524036570%2C%22psn%22%3A%22EntStatusCreationStory%22%2C%22sl%22%3A4%2C%22dm%22%3A%7B%22isShare%22%3A1%2C%22originalPostOwnerID%22%3A0%7D%2C%22targets%22%3A%5B%7B%22page_id%22%3A2195854524036570%2C%22actor_id%22%3A2195854524036570%2C%22role%22%3A1%2C%22post_id%22%3A2195864074035615%2C%22share_id%22%3A0%7D%5D%7D%7D&__tn__=HH-R" >
                            <%= image_tag 'fb.png', class:"pr-3" %> <strong class="text-white">Facebook</strong>
                          </a>
                        </li>
                        <li class="mb-3">
                          <strong><%= image_tag 'phone-call.svg', class:"pr-3" %>480-235-4043</strong>
                        </li>
                        <li>
                          <address>
                            <strong>CONCIERGE CONSULTING AND ACCOUNTING, PLLC</strong><br>
                            7363 E. Adobe Road <br>
                            Suite 115 <br>
                            Scottsdale, AZ  85255<br>
                          </address>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              <div class="footer-copyright text-center py-3 col-12 border-top">
                <small>© 2018 BY CONCIERGE CONSULTING AND ACCOUNTING, PLLC | ALL RIGHTS RESERVED</small>
              </div>
            </footer>

              <!-- ========================== end Footer =========================== -->