            <!-- =========================== Footer do ============================== -->

            <footer id="footer" class="page-footer font-small blue pt-4 text-white">
              <div class="container-fluid text-center text-md-left">
                <div class="row">
                  <div class="col-12 col-md-10 col-lg-10 col-xl-10 d-flex mx-auto row ">
                    <div class="col-12 col-md-4 my-md-5 my-lg-5 mt-5 mb-0 d-flex align-items-center">
                      <a class="navbar-brand" href="#page-top"><%= image_tag 'concierge-logo.png', class: "brand" %></a>
                    </div>
                    <div class="col-12 col-md-4 col-lg-4 col-xl-4 text-left my-5">
                      <ul class="navbar-nav text-uppercase ml-auto pl-0">
                        <li class="nav-item">
                          <a class="nav-link text-white js-scroll-trigger" href="#services">Services</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link text-white js-scroll-trigger" href="#about-me">About</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link text-white js-scroll-trigger" href="#team">Team</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link text-white js-scroll-trigger" href="#portfolio">Portfolio</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link text-white js-scroll-trigger" href="#contact">Contact</a>
                        </li>
                      </ul>
                    </div>
                    <div class="col-12 col-md-4 text-left mb-5 my-md-5 my-lg-5">
                      <h5 class="text-uppercase contact"><strong>Contact</strong></h5>
                      <ul class="list-unstyled pl-0">
                        <li>
                          <address>
                            <strong>Theresa Elaine Valade</strong><br>
                            <a href="mailto:#" class="text-bold text-white">theresa@conciergeacct.com</a>
                          </address>
                        </li>
                        <li>
                          <address>
                            <strong>CONCIERGE CONSULTING AND ACCOUNTING, PLLC</strong><br>
                            7363 E. Adobe Road <br>
                            Suite 115 <br>
                            Scottsdale, AZ  85255<br>
                            480-235-4043 <br>
                          </address>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              <div class="footer-copyright text-center py-3 col-12 border-top">
                <small>© 2018 BY CONCIERGE CONSULTING AND ACCOUNTING, PLLC | ALL RIGHTS RESERVED</small>
              </div>
            </footer>

              <!-- ========================== end Footer =========================== -->